* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;  
}

.header {
  height: 64px;
  position: fixed;
  top: 0; left: 0; right: 0;
  background: linear-gradient(#000, rgba(0,0,0,.6));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
}

.logo {
  color: #06ad00;
  font-size: 40px;       
  font-weight: 900;
  letter-spacing: 1.2px;
}

.menu a {
  color: #ccc;
  margin: 0 18px;
  font-size: 24px;        
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

.menu a.active,
.menu a:hover {
  color: #fff;
}

.menu a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background: #06ad00;
}

.actions {
  font-size: 20px;
}

.hero {
  height: 100vh;
  margin-top: 64px;
  background: #222;
  position: relative;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0,0,0,.9),
    rgba(0,0,0,.3),
    rgba(0,0,0,.9)
  );
  z-index: 1;
}

.hero-content {
  position: absolute;
  left: 60px;
  bottom: 15%;
  max-width: 560px;
  z-index: 2;
}

.hero-content h1 {
  font-size: 56px;       
  font-weight: 900;
  line-height: 1.15;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 17px;
  opacity: .85;
  margin-bottom: 24px;
}

.btn-play {
  background: #06ad00;
  border: none;
  color: #fff;
  padding: 14px 30px;
  border-radius: 26px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.block {
  padding: 36px 40px;
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.block h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;      
  font-weight: 800;
  letter-spacing: .5px;
}

.nav-btns button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgba(0,0,0,.6);
  border: 1px solid #333;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.nav-btns button:hover {
  background: #06ad00;
}

.row-wrapper {
  width: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  gap: 16px;
  transition: transform .4s ease;
  justify-content: space-between;
}


.card {
  width: calc((100% - 8 * 16px) / 9); 
  flex-shrink: 0;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 500px;            
  object-fit: cover;
  object-position: center;  
  border-radius: 28px;
  transition: transform .3s ease;
}


.card:hover img {
  transform: scale(1.05);
}

.card .title {
  margin-top: 10px;
  font-size: 20px;        
  font-weight: 600;
  color: #f1f1f1;
  text-align: center;
  line-height: 1.4;
}

.footer {
  margin-top: 100px;
  padding: 70px 60px 40px;
  border-top: 1px solid #222;
  background: #000;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

/* LEFT */
.footer-left h3 {
  font-size: 34px;        
  font-weight: 800;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 26px;      
  opacity: .65;
  margin-bottom: 20px;
}

.footer-logo {
  font-size: 48px;        
  font-weight: 900;
  color: #06ad00;
  letter-spacing: 2px;
}

/* COLUMN */
.footer-col h4 {
  font-size: 30px;        
  margin-bottom: 20px;
  font-weight: 800;
}

.footer-col a,
.footer-col p {
  display: block;
  font-size: 24px;        
  color: #cfcfcf;
  margin-bottom: 14px;
  text-decoration: none;
}

.footer-col a:hover {
  color: #06ad00;
}

.footer-col span {
  color: #fff;
  font-weight: 700;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-inner {
    flex-direction: column;
    gap: 40px;
  }

  .footer-logo {
    font-size: 40px;
  }
}
