* {
  /* Xóa margin, padding và border mặc định */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
.one{
    background-color: #ffffff;
    width: 360px;
    margin: auto;
    margin-top: 150px;
    border-radius: 16px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(183, 216, 245);
}
.three{
    padding: 20px;
}
.three h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.top{
    font-size: 16px;
    color: hsl(0, 2%, 34%);
    margin-bottom: 10px;
}
.bot{
    font-weight: bold;
    color: rgb(236, 56, 56);
    font-size: 20px;
}
button{
    font-size: 24px;
    padding: 12px;
    width: 100%;
     border: none;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(0, 131, 218);
    border-radius: 12px;
}